@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu />
    </div>

    <div class="page container" style="padding-top: 1rem;">
        <main>
            <article class="content py-4 px-4">
                @Body
            </article>
        </main>
    </div>
</div>